{% extends "base.html" %}
{% block titulo %}
Datos de Salario
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div id="aumento-salario-listado" class="aumento-salario row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="fa fa-list"></i>
                    Datos de Salario</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row">
                        {% if perms.worksheet.add_incrementossalariales %}
                        <div class="col-md-12 text-right">
                            {% if perms.worksheet.see_motivoausencia %}
                            <button id="btnRefrescar" class="btn btn-success">Refrescar</button>
                            <button id="btnAgregar" class="btn btn-primary">Agregar</button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="tablaDatosSalario" class="table table-striped">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Identidad</th>
                                    <th class="text-center">Nombre completo</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Es salario actual</th>
                                    <th id="thAcciones" class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% comment '' %}
                                {% for item in datos %}
                                <tr>
                                    <td>{{item.empleado.extEmpNo}}</td>
                                    <td>{{item.empleado.govID}}</td>
                                    <td>{{item.empleado.firstName}} {% if item.empleado.middleName %}{{item.empleado.middleName}}{% endif %} {{item.empleado.lastName}}</td>
                                    <td>
                                        {{item.fecha_incremento|date:"d/m/Y"}}
                                    </td>
                                    <td>
                                        {% if item.salario_actual %}SI{% else %}NO{% endif %}
                                    </td>
                                    <td class="text-nowrap acciones text-center">
                                        {% if perms.worksheet.delete_incrementossalariales %}
                                        <a href="#" class="btnEliminar" data="{{item.pk}}" data-tooltip="Eliminar el registro" data-toggle="tooltip" data-original-title="Eliminar">
                                            <i class="fa fa-close text-danger m-r-10"></i>
                                        </a>
                                        {% endif %}
                                        {% if item.salario_actual %}
                                            {% if perms.worksheet.delete_incrementossalariales %}
                                            <a href="#" class="btnEditarDatosSalario" data-toggle="tooltip" data="{{item.pk}}" data-original-title="Editar">
                                                <i class="fa fa-pencil text-inverse m-r-10"></i>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        {% if perms.worksheet.see_reg_incrementossalariales %}
                                        <a href="#" data-original-title="Ver registro" class="btnVerRegistroAumentoSalario" data="{{item.pk}}"><i class="fa fa-search text-success m-r-10"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endcomment %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div id="aumento-salario-modal" class="modal-dialog"></div>
</div>
<div class="col-lg-8">
<!-- FORMULARIO MODAL PARA EDITAR DATOS DE SALARIO -->
    <div id="frmEditarDatoSalario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Editar datos de salario</h4> </div>
                <div class="modal-body">
                    <form>
                    {% csrf_token %}
                    <input type="hidden" id="reg_id">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cboAuEmp" class="control-label">Empleado: </label>
                                    <input type="text" readonly id="txtDS_NE" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Motivo :</label>
                                    <select class="form-control select2" name="motivo_aumento" id="cboDSMotivo">
                                        <option value="0">Seleccionar...</option>
                                        {% for item in motivos %}
                                            <option value="{{item.pk}}">{{item.code}} - {{item.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Monto :</label>
                                    <input type="text" id="txtDS_I" name="incremento" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha: </label>
                                    <div class="input-group">
                                        <input type="text" id="txtDSFecha" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtEdHasta" class="control-label">Salario anterior :</label>
                                    <input type="text" id="txtDS_SA" name="salario_anterior" readonly class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nuevo salario :</label>
                                    <input type="text" id="txtDS_NS" name="nuevo_salario" readonly class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Comentarios :</label>
                                    <textarea id="txtDS_C" name="comentarios" rows="7" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnG_DS" class="btn btn- waves-effect waves-light">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FORMULARIO MODAL PARA EDITAR DATOS DE SALARIO -->
    <div id="frmGuardarDatoSalario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Guardar datos de salario</h4> </div>
                <div class="modal-body">
                    <form>
                    <input type="hidden" id="reg_id">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cboAuEmp" class="control-label">Empleado: </label>
                                    <select  class="form-control select2" name="empleado">
                                        <option value="0">Seleccionar...</option>
                                        {% for item in empleados %}
                                            <option readonly value="{{item.pk}}">{{item.firstName}} {% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Motivo :</label>
                                    <select class="form-control select2" name="motivo_aumento">
                                        <option value="0">Seleccionar...</option>
                                        {% for item in motivos %}
                                            <option value="{{item.pk}}">{{item.code}} - {{item.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Monto :</label>
                                    <input type="text" name="incremento" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha: </label>
                                    <div class="input-group">
                                        <input id="txtFecha" name="fecha_incremento" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Salario anterior :</label>
                                    <input type="text" name="salario_anterior" readonly class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nuevo salario :</label>
                                    <input type="text" name="nuevo_salario" readonly class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Comentarios :</label>
                                    <textarea name="comentarios" rows="7" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnGF_DS" class="btn btn- waves-effect waves-light">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('.select2').select2();
    var token = $('input[name="csrfmiddlewaretoken"]');
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesPersonal').addClass('active');
    $('#aAumSal').addClass('active');
    $('#aAcciones').parents('li').addClass('active');
    $('#accionesPersonal').parents('li').addClass('active');
    //#endregion
    jQuery('.mydatepicker, #datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose:true,
        todayHighlight: true,
    });
</script>
{% endblock scripts %}