{% extends "base.html" %}
{% block titulo %}
Aumento de Salario{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Aumento de Salario</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="cboAuEmp" class="control-label">Empleado :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="empleado" id="cboIncEmp">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in empleados %}
                                                {% if editar %}
                                                    {% if item == dato.empleado %}
                                                    <option value="{{item.pk}}" selected>{{item.firstName}} {{item.middleName}} {{item.lastName}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.firstName}} {{item.middleName}} {{item.lastName}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.firstName}} {{item.middleName}} {{item.lastName}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Fecha :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input id="txtFecha" value='{{dato.fecha_incremento|date:"Y-m-d"}}' name="fecha_incremento" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Motivo :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="motivo_aumento">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in motivos %}
                                                {% if editar %}
                                                    {% if item == dato.motivo %}
                                                    <option value="{{item.pk}}" selected>{{item.code}} - {{item.descripcion}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.code}} - {{item.descripcion}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.code}} - {{item.descripcion}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtEdHasta" class="control-label">Salario anterior :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="salario_anterior" value="{{dato.salario_anterior}}" class="form-control" maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Incremento :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="incremento" value="{{dato.incremento}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Nuevo salario :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="nuevo_salario" value="{{dato.nuevo_salario}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Comentarios :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea rows="7" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnEdActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnEdGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button class="btn btn-default btn-cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/app/scriptApp.js' %}"></script>
<script>
    $(".select2").select2();
    $('#side-menu a').removeClass('active');
    $('#aAccionesPer').addClass('active');
    $('#aEdu').addClass('active');

    jQuery('.mydatepicker, #datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose:true,
        todayHighlight: true,
    });
</script>
{% endblock scripts %}