{% extends "base.html" %}
{% block titulo %}
Listado de Divisiones de la Empresa
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Listado de Divisiones de la Empresa</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in divisiones %}
                                <tr>
                                    <td>{{item.descripcion}}</td>
                                    <td>{{item.active}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aCorporativo').addClass('active');
    $('#aDivision').addClass('active');
    $('#sDivision2').addClass('active');
    //#endregion

    //#region Librerías
    $('#myTable').DataTable();
    //#endregion
</script>
{% endblock scripts %}