{% extends "base.html" %}
{% block titulo %}
Empleos Anteriores
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Empleos Anteriores</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="empAnt_id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Empleado :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control select2" name="empAnt_emp">
                                            <option value="0">Seleccionar...</option>
                                            {% for item in empleados %}
                                                {% if editar %}
                                                    {% if item == dato.empleado %}
                                                    <option value="{{item.pk}}" selected>{{item.firstName}} {% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.firstName}} {% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                    {% endif %}
                                                {% else %}
                                                <option value="{{item.pk}}">{{item.firstName}} {% if item.middleName %}{{item.middleName}}{% endif %} {{item.lastName}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Desde :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input value='{{dato.desde|date:"Y-m-d"}}' name="empAnt_desde" type="text" class="form-control mydatepicker " placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Hasta :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input value='{{dato.hasta|date:"Y-m-d"}}' name="empAnt_hasta" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Empresa :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input value='{{dato.empresa}}' name="empAnt_empr" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtEvGrpSal" class="control-label">Posición :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input value='{{dato.posicion}}' name="empAnt_pos" type="text" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label for="txtComEv" class="control-label">Comentario :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <textarea name="empAnt_com" id="txtComEv" rows="7" class="form-control">{{dato.comentario}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            {% if dato.active %}
                                            <input id="chkActivo" name="empAnt_activo" type="checkbox" checked class="input-sm"> {% else %}
                                            <input id="chkActivo" name="empAnt_activo" type="checkbox" class="input-sm"> {% endif %}
                                            <label for="chkActivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnempAntActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnempAntGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnempAntCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/app/scriptApp.js' %}"></script>
<script>
    $(".select2").select2();
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#empAnt').addClass('active');

    jQuery('.mydatepicker, #datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose:true,
        todayHighlight: true,
    });
</script>
{% endblock scripts %}