{% extends "base.html" %}
{% block titulo %}
Listado de Empresas
{% endblock titulo %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Listado de Empresas</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row text-right">
                        <div class="col-md-12">
                            <a href="{% url 'empresa' %}" class="btn btn-primary">Agregar</a>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-striped">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>Razón Social</th>
                                    <th>Nombre comercial</th>
                                    <th>Activo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in empresas %}
                                <tr>
                                    <td>{{item.razonSocial}}</td>
                                    <td>{{item.nombreComercial}}</td>
                                    <td>
                                        {% if item.active %}
                                        <span class="label label-success">Habilitado</span>
                                        {% else %}
                                        <span class="label label-danger">Inactivo</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap acciones">
                                        <a href="{% url 'empresa_editar' item.pk %}" data-toggle="tooltip" data-original-title="Edit">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        <a href="#" class="btnEliminar" data="{{item.pk}}" data-toggle="tooltip" data-original-title="Close">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/app/listadoEmpresas.js' %}"></script>
{% endblock scripts %}