{% extends "base.html" %}
{% block titulo %}
Datos de Hora Extra
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div id="horaextra" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Datos de Hora Extra</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-12">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Jornada :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="jornada" value="{{dato.jornada}}" type="text" class="form-control input" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Hora Inicial:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="horaini" value="{{dato.horaini}}" type="text" class="form-control input" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Hora Final :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="horafin" value="{{dato.horafin}}" type="text" class="form-control input" maxlength="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Horas Diarias:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="horasDiarias" value="{{dato.horasDiarias}}" type="text" class="form-control input" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Horas Semana :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="horasSemana" value="{{dato.horasSemana}}" type="text" class="form-control input" maxlength="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">No Exede Nocturno:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="noExedeNocturno" value="{{dato.noExedeNocturno}}" type="text" class="form-control input" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5 text-right">
                                        <label class="control-label">Hora Extra(%) :</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input name="horaExtra" value="{{dato.horaExtra}}" type="text" class="form-control input" maxlength="70" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="checkbox checkbox-success">
                                            <input id="chkActivo" name="activo" type="checkbox" {% if dato.active %}checked{% endif %} class="input">
                                            <label for="chkActivo" class="control-label"> Activo </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-action text-right">
                                    {% if editar %}
                                    <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                                    {% else %}
                                    <button id="btnGuardar" class="btn btn-success">Guardar</button>
                                    {% endif %}
                                    <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="{% static 'js/lib/jquery.mask.js' %}"></script>
<script>
    $('#side-menu a').removeClass('active');
    $('#aPersonal').addClass('active');
    $('#aLegales').addClass('active');
    $('#aHE').addClass('active');
    $('input[name="horaini"]').mask('00:00:00');
    $('input[name="horafin"]').mask('00:00:00');
    $('input[name="horasDiarias"]').mask('0,000,000,000,000.00', {reverse:true});
    $('input[name="horasSemana"]').mask('0,000,000,000,000.00', {reverse:true});
    $('input[name="noExedeNocturno"]').mask('0,000,000,000');
    $('input[name="horaExtra"]').mask('##0.00%', {reverse: true});
</script>
{% endblock scripts %}