{% extends "base.html" %}
{% block titulo %}
Inicio
{% endblock titulo %}
{% block contenido %}
<div class="white-box">
<div class="row">
        <div class="col-md-12">
            <h1>Bienvenido a la página de Inicio</h1>
            <div class="col-sm-6">
                    <h3 class="box-title">Empleados por Departamento</h3>
                    <div>
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
            </div>
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Primer Nombre</th>
                                <th>Segundo Nombre</th>
                                <th>Apellidos</th>
                                <th class="text-nowrap">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in empleados %}
                            <tr>
                                <td>{{empleado.firstName}}</td>
                                <td>
                                    {% if empleado.middleName %}
                                    {{empleado.middleName}}
                                    {% endif %}
                                </td>
                                <td>{{empleado.lastName}}</td>
                                <td class="text-nowrap">
                                    <a href="{% url 'empleado-perfil' empleado.id %}" data-toggle="tooltip" data-original-title="Ver Perfil"> <i class="fa fa-search text-inverse m-r-10"></i> </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('#side-menu>li>a').removeClass('active');
    $('#aInicio').addClass('active');  
</script>
<script>
    colores = [];
    maxStep = 0;
    function cargarGrafico1(){
        $.ajax({
            type: "GET",
            url: "/obtener/grafico1/",
            data: {},
            success: function (data) {
                if (data.error == false) {
                    //console.log(data.data);
                    colores = data.data;
                    crearGrafico(data.departamentos, data.total_emp);
                } else {
                    console.log(data.mensaje);
                }
            },
            error: function (data) {
                console.log("Error");
            }
        });
    }

    function crearGrafico(vdeptos, vtotales){
        var ctx = document.getElementById("myChart");
        maxStep = Math.max.apply(null, vtotales);
        var porcentaje = maxStep * 0.10;
        porcentaje = Math.ceil(porcentaje);
        maxStep = maxStep + porcentaje;
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: vdeptos,
                datasets: [{
                    label: '# de Empleados',
                    data: vtotales,
                    
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max: maxStep,
                            min: 0,
                            stepSize: 1
                        }
                    }]
                }
            }
        });
    }

    cargarGrafico1();
</script>
{% endblock scripts %}