{% extends 'base.html' %}
{% block titulo %}
Generar Planilla
{% endblock titulo %}
{% block contenido %}
<div class="row planilla-generar">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Generar planilla</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="cboAuEmp" class="control-label">Planilla :</label>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control select2" name="empleado" id="cboAuEmp">
                                    <option value="0">Seleccionar...</option>
                                    {% for item in planillas %}
                                        <option value="{{item.pk}}">{{item.descripcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button id="btnGenerar" class="btn btn-primary">Generar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}