{% extends "base.html" %}
{% block titulo %}Datos Generales de Planilla{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox{
        font-weight: 500;
    }
    .checkbox label{
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row planilla">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Datos de Planilla</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form id="frmPlanilla">
                        {% csrf_token %}
                        {% if editar %}
                        <input type="hidden" value="{{dato.pk}}" name="id">
                        {% endif %}
                        <div class="col-md-12">
                            <div class="col-md-12 margin-bottom-5px">    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Tipo de Contrato :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control select2" name="tipo_contrato">
                                                <option value="0">Seleccionar...</option>
                                                {% for item in tipos_contrato %}
                                                    {% if editar %}
                                                        {% if item == dato.tipo_contrato %}
                                                        <option value="{{item.pk}}" selected>{{item.tipo_contrato}}</option>
                                                        {% else %}
                                                        <option value="{{item.pk}}">{{item.tipo_contrato}}</option>
                                                        {% endif %}
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.tipo_contrato}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Tipo de planilla :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control select2" name="tipo_planilla">
                                                <option value="0">Seleccionar...</option>
                                                {% for item in tipo_planilla %}
                                                    {% if editar %}
                                                        {% if item == dato.tipo_planilla %}
                                                        <option value="{{item.pk}}" selected>{{item.tipo_planilla}}</option>
                                                        {% else %}
                                                        <option value="{{item.pk}}">{{item.tipo_planilla}}</option>
                                                        {% endif %}
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.tipo_planilla}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 margin-bottom-5px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Tipo de Pago :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control select2" name="tipo_pago">
                                                <option value="0">Seleccionar...</option>
                                                {% for item in tipos_pago %}
                                                    {% if editar %}
                                                        {% if item == dato.frecuencia_pago %}
                                                        <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                        {% else %}
                                                        <option value="{{item.pk}}">{{item.description}}</option>
                                                        {% endif %}
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Fecha de Pago :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input id="txtFechaPago" value='{{dato.fecha_pago|date:"Y-m-d"}}' name="fecha_pago" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 margin-bottom-5px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Fecha de Inicio :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input id="txtFechaInicio" value='{{dato.fecha_inicio|date:"Y-m-d"}}' name="fecha_inicio" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Fecha de Fin :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input id="txtFechaFin" value='{{dato.fecha_fin|date:"Y-m-d"}}' name="fecha_fin" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CHECKBOX -->
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- CHECK BOX PLANILLA ESPECIAL -->
                                        <!-- Este define cuando una planilla será
                                        para pagar o deducir en tiempo fuera de una planilla normal, como ser 
                                        aguinaldos, comisiones etc... -->
                                        <div class="col-md-5 text-right"></div>
                                        <div class="col-md-7">
                                            <div class="checkbox checkbox-info">
                                                {% if editar %}
                                                    {% if dato.especial %}
                                                    <input id="chkEspecial" name="especial" type="checkbox" checked>
                                                    {% else %}
                                                    <input id="chkEspecial" name="especial" type="checkbox">
                                                    {% endif %}
                                                {% else %}
                                                <input id="chkEspecial" name="especial" type="checkbox">
                                                {% endif %}
                                                <label for="chkEspecial">Planilla Especial </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% comment 'Se deshabilitan los checkbox' %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right"></div>
                                        <div class="col-md-7">
                                            <div class="checkbox checkbox-info">
                                                <input id="chkRAP" name="ded_rap" type="checkbox">
                                                <label for="chkRAP">Deducción RAP </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right"></div>
                                        <div class="col-md-7">
                                            <div class="checkbox checkbox-info">
                                                <input id="chkISR" name="ded_isr" type="checkbox">
                                                <label for="chkISR">Deducción Impuesto Sobre Renta </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right"></div>
                                        <div class="col-md-7">
                                            <div class="checkbox checkbox-info">
                                                <input id="chkIMV" name="ded_imv" type="checkbox">
                                                <label for="chkIMV">Deducción Impuesto Vecinal </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CHECKBOX -->
                            {% endcomment %}
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Descripción :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <textarea name="descripcion" rows="7" class="form-control">{{dato.descripcion}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <hr>
                            <div class="form-action col-md-12 text-right">
                                {% if editar %}
                                <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                                {% else %}
                                <button id="btnGuardar" class="btn btn-success">Guardar</button>
                                {% endif %}
                                <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $(".select2").select2();
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesNomina').addClass('active');
    $('#aPlanilla').addClass('active');
    $('#aAcciones').parents('li').addClass('active');
    $('#accionesNomina').parents('li').addClass('active');

    var mensaje = '';
    var especial = '';
    var tipo_contrato = '';
    var tipo_planilla = '';

    $('#txtFechaInicio').on('change', function(e) {
        autonombre();
    });

    $('#txtFechaFin').on('change', function(e) {
        autonombre();
    });

    $('#chkEspecial').on('change', function(e) {
        especial = ''
        if($(this).is(":checked")) {
            especial = 'E';
        }else{
            especial = '';
        }
        autonombre();
    });

    $('select[name="tipo_planilla"]').on('change', function() {
        var data = $('select[name="tipo_planilla"] option:selected').text();
        if(data != "Seleccionar...") {
            tipo_planilla = data;
        }else{
            tipo_planilla = '';
        }
        autonombre();
    });

    $('select[name="tipo_contrato"]').on('change', function() {
        var data = $('select[name="tipo_contrato"] option:selected').text();
        if(data != "Seleccionar...") {
            tipo_contrato = data;
        }else{
            tipo_contrato = '';
        }
        autonombre();
    });

    function autonombre() {
        fecha1 = '';
        fecha2 = '';
        fecha1 = $('#txtFechaFin').val();
        fecha2 = $('#txtFechaInicio').val();
        mensaje = '';
        if(fecha1.length > 0) {
            mensaje += fecha1;
        }
        if(fecha2.length > 0) {
            mensaje += "-" + fecha2;
        }
        //mensaje +=   + " ";
        if(especial){
            mensaje += "-" + especial;
        }
        if(tipo_planilla.length > 0) {
            mensaje += "-" + nombreAbreve(tipo_planilla);
        }
        if(tipo_contrato.length > 0) {
            mensaje += "-" + nombreAbreve(tipo_contrato);
        }
        $('textarea[name="descripcion"]').val(mensaje);
        
    }

    function nombreAbreve(palabra) {
        var array = palabra.split(" "),
            total = array.length,
            resultado = "";
        if(palabra.length > 0){
            for( var i = 0; i < total; resultado += array[i][0], i++);
        }
        return resultado;
    }

    jQuery('.mydatepicker, #datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose:true,
        todayHighlight: true,
    });
</script>
{% endblock scripts %}