{% extends 'base.html' %}
{% block titulo %}
Generar Planilla
{% endblock titulo %}
{% block estilo %}
<style>
    .progress-bar{
        color:#000000;
    }
    .detalle_item{
        cursor: pointer;
    }
    .hiddenRow {
        padding: 0 4px !important;
        font-size: 13px;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row planilla-generar">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Generar planilla</h2>
            </div>
            <div class="panel block5">
                <div class="panel-body">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-1 col-md-offset-2 text-right">
                                    <label for="cboAuEmp" class="control-label">Planilla :</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control select2" name="empleado" id="cboPlanillas">
                                        <option value="0">Seleccionar...</option>
                                        {% for item in planillas %}
                                            <option value="{{item.pk}}">{{item.descripcion}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button id="btnGenerar2" class="btn btn-primary">Generar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lista-empleados"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesNomina').addClass('active');
    $('#aPlanilla').addClass('active');
    $('#aAcciones').parents('li').addClass('active');
    $('#accionesNomina').parents('li').addClass('active');
    $('#btnBloquear').click(function() {
        $('div.block5').block({
            message: '<h4><img src="../../static/plugins/images/busy.gif" /> Espere un momento...</h4>',
            css: {
                border: '1px solid #fff',
            }
        });
    });
    $('.accordian-body').on('show.bs.collapse', function () {
        $(this).closest("table")
            .find(".collapse.in")
            .not(this)
            .collapse('toggle')
    });
</script>
{% endblock scripts %}