{% extends "base.html" %}
{% block titulo %}Datos Generales de Planilla{% endblock titulo %}
{% load static %}

{% block contenido %}
<div class="row planilla">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-pencil-alt"></i>
                    Datos de Planilla</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <form id="frmPlanilla">
                        {% csrf_token %}
                        {% if editar %}
                        <input type="hidden" value="{{dato.pk}}" name="id">
                        {% endif %}
                        <div class="col-md-12">
                            <div class="col-md-12 margin-bottom-5px">    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label for="cboAuEmp" class="control-label">Correlativo :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="txtCorrelativo" value='{{dato.correlativo}}' readonly name="correlativo" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Tipo de planilla :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control select2" name="´tipo_planilla">
                                                <option value="0">Seleccionar...</option>
                                                {% for item in tipo_planilla %}
                                                    {% if editar %}
                                                        {% if item == dato.tipo_planilla %}
                                                        <option value="{{item.pk}}" selected>{{item.tipo_planilla}}</option>
                                                        {% else %}
                                                        <option value="{{item.pk}}">{{item.tipo_planilla}}</option>
                                                        {% endif %}
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.tipo_planilla}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 margin-bottom-5px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Tipo de Pago :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control select2" name="tipo_pago">
                                                <option value="0">Seleccionar...</option>
                                                {% for item in tipos_pago %}
                                                    {% if editar %}
                                                        {% if item == dato.frecuencia_pago %}
                                                        <option value="{{item.pk}}" selected>{{item.description}}</option>
                                                        {% else %}
                                                        <option value="{{item.pk}}">{{item.description}}</option>
                                                        {% endif %}
                                                    {% else %}
                                                    <option value="{{item.pk}}">{{item.description}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Fecha de Pago :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input id="txtFechaPago" value='{{dato.fecha_pago|date:"Y-m-d"}}' name="fecha_pago" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 margin-bottom-5px">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Fecha de Inicio :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input id="txtFechaInicio" value='{{dato.fecha_inicio|date:"Y-m-d"}}' name="fecha_inicio" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Fecha de Fin :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input id="txtFechaFin" value='{{dato.fecha_fin|date:"Y-m-d"}}' name="fecha_fin" type="text" class="form-control mydatepicker" placeholder="yyyy-mm-dd"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-5 text-right">
                                            <label class="control-label">Descripción :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <textarea name="descripcion" rows="7" class="form-control">{{dato.descripcion}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <hr>
                            <div class="form-action col-md-12 text-right">
                                {% if editar %}
                                <button id="btnActualizar" class="btn btn-success">Actualizar</button>
                                {% else %}
                                <button id="btnGuardar" class="btn btn-success">Guardar</button>
                                {% endif %}
                                <button id="btnCancelar" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    $(".select2").select2();
    $('#side-menu a').removeClass('active');
    $('#aAccionesPer').addClass('active');
    $('#aPlanilla').addClass('active');

    jQuery('.mydatepicker, #datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose:true,
        todayHighlight: true,
    });
</script>
{% endblock scripts %}