{% extends "base.html" %}
{% block titulo %}
Puesto de Trabajo
{% endblock titulo %}
{% load static %}
{% block estilo %}
<style>
    .checkbox {
        font-weight: 500;
    }

    .checkbox label {
        font-weight: 500;
    }
</style>
{% endblock estilo %}
{% block contenido %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-bold"><i class="ti-user"></i>
                    Registro de Puesto de Trabajo</h2>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    {% csrf_token %}
                    {% if editar %}
                    <input type="hidden" value="{{dato.pk}}" name="id">
                    {% endif %}
                    <div class="col-md-6">
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                <label for="txtptNombre" class="control-label">Código :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="pt_nombre" value="{{dato.code}}" id="txtptNombre" class="form-control input-sm input-sm-1" maxlength="5">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-bottom-5px">
                            <div class="form-group">
                                <div class="col-md-5 text-right">
                                <label for="txtptDescripcion" class="control-label">Descripción :</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="pt_descripcion" value="{{dato.description}}" id="txtptDescripcion" class="form-control input-sm input-sm-1">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">
                                    <div class="checkbox checkbox-success">
                                        {% if dato.active %}
                                        <input id="chkptActivo" name="pt_activo" type="checkbox" class="input-sm" checked>
                                        {% else %}
                                        <input id="chkptActivo" name="pt_activo" type="checkbox" class="input-sm">
                                        {% endif %}
                                        <label for="chkptActivo" class="control-label"> Activo </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-action col-md-12 text-right">
                            {% if editar %}
                            <button id="btnptActualizar" class="btn btn-success">Actualizar</button>
                            {% else %}
                            <button id="btnptGuardar" class="btn btn-success">Guardar</button>
                            {% endif %}
                            <button id="btnptCancelar" class="btn btn-default">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script>
    //#region Efectos en SideBar
    $('#side-menu a').removeClass('active');
    $('#aCorporativo').addClass('active');
    $('#aPuesto').addClass('active');
    $('#sPuesto1').addClass('active');
    //#endregion
</script>
<script src="{% static 'js/app/scriptApp.js' %}"></script>
{% endblock scripts %}