<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SELECCIONAR SUCURSAL</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
    .form-signin{
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .panel .panel-heading{
        border-radius: 0px;
        font-weight: bold;
        font-size:16px;
        font-family: 'Rubik', sans-serif;
        padding: 20px 25px;
        text-align:left;
    }
    </style>
<body class="text-center">
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-heading">MANAGE USERS</div>
                <div class="table-responsive">
                    <table class="table table-hover manage-u-table">
                        <thead>
                            <tr>
                                <th width="70" class="text-center">#</th>
                                <th>GRUPO</th>
                                <th>EMPRESA</th>
                                <th>SUCURSAL</th>
                                <th width="300">MANAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>Daniel Kristeen
                                    <br/><span class="text-muted">Texas, Unitedd states</span></td>
                                <td>Visual Designer
                                    <br/><span class="text-muted">Past : teacher</span></td>
                                <td>daniel@website.com
                                    <br/><span class="text-muted">999 - 444 - 555</span></td>
                                <td>
                                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-key"></i></button>
                                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-trash"></i></button>
                                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button>
                                    <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-20"><i class="ti-upload"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <form class="form-signin" action="{% url 'recibir_sucursal' %}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Ingrese los siguientes datos</h1>
    {% csrf_token %}
    <label for="empresa" class="sr-only">Empresa</label>
    <select name="empresa" id="empresa" class="form-control" placeholder="Empresa">
    <option value="0">Seleccione la empresa...</option>
    {% for empresa in empresas %}
    <option value="{{empresa.pk}}">{{empresa.nombreComercial}}</option>
    {% endfor %}
    </select>
    <br>
    <select name="sucursal" class="form-control">
    <option value="0">Seleccione la sucursal...</option>
    {% comment %}
    {% for item in sucursales %}
    <option value="{{item.pk}}">{{item.sucursal.name}}</option>
    {% endfor %}
    {% endcomment %}
    </select>
    <br>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Aceptar">
    </form>
    {% comment %}
    <ul>
    <comment></comment>
    {% for item in sucursales %}
    <li>{{item.sucursal.name}}</li>
    {% endfor %}
    </ul>
    {% endcomment %}
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script>
    var cboEmpresa = $('select[name="empresa"]');
    var cboSucursal = $('select[name="sucursal"]')

    cboEmpresa.on('change', function() {
        var empresa_id = cboEmpresa.val();
        $.ajax({
                type: "GET",
                url: '/obtener/sucursales/',
                data: {
                    'idEmpresa':empresa_id
                }, // serializes the form's elements.
                success: function(data)
                {
                    cboSucursal.html(data);
                },
                error: function(data) {
                    
                },
                typeData:'html'
            });
    });
    </script>
</body>
</html>