{% extends 'base.html' %}
{% block titulo %}
    Reporte de Planilla - General
{% endblock titulo %}
{% load static %}
{% block contenido %}
    <div class="col-sm-12">
        <div class="white-box">
            <h1>Reporte</h1>
            <div class="table-responsive">
                <table id="reporteTabla" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            {% for columna in columns %}
                                <th>{{columna.title}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for fila in data %}
                            <tr>
                                {% for dato in fila %}
                                    <td>{{dato}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% for columna in columns %}
                                <th>{% comment '' %}
                                {{columna.title}}
                                {% endcomment %}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
        </div>
    </div>
{% endblock contenido %}
{% block scripts %}
<script type="text/javascript">
    var valor = 0;
    var objetivos = [];
    var dns = window.location.protocol + "//" + window.location.host;
    {% for columna in columns %}
        valor = parseInt('{{forloop.counter}}') - 1;
        if(valor > 2){
            objetivos.push(valor);
        }
    {% endfor %}
    $('#reporteTabla').DataTable({
        columnDefs: [
            { className: 'text-right', targets: objetivos },
        ],
        paging: false,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 
            {
                extend:'excelHtml5',
                text: 'Excel',
                title: function() { return 'Reporte General Detalle Planilla'},
                customize: function(win) {
                    $(win.document.body)
                        .css('font-size', '10pt')
                        .prepend(
                            '<img src="'+dns+'/static/images/promaco-logo-3.png" />'
                        )
                },
                footer: true,
            },
            {
                extend:'print',
                text: 'Imprimir',
                footer: true,
            },
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
                title: function() { return 'Reporte General Detalle Planilla'},
            }
        ],
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api();
            nb_cols = api.columns().nodes().length;
            var j = 3;
            while(j < nb_cols){
                var pageTotal = api.column(j, { page: 'current'}).data().reduce( function (a, b) {
                    b = b.replace(",", "");
                    return Number(a) + Number(b);
                }, 0 );
                // Update footer
                pageTotal = (pageTotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                $(api.column(j).footer()).html(pageTotal);
                j++;
            }
        }
    });
    $('#side-menu a').removeClass('active');
    $('#aAcciones').addClass('active');
    $('#accionesNomina').addClass('active');
    $('#aReportes').addClass('active');
    $('#aAcciones').parents('li').addClass('active');
    $('#accionesNomina').parents('li').addClass('active');
    $('#reporteTabla tfoot tr th:first-child').removeAttr('colspan');
    $('#reporteTabla tfoot tr th:nth-child(1)').remove();
    $('#reporteTabla tfoot tr th:nth-child(2)').remove();
    $('#reporteTabla tfoot tr th:first-child').attr('colspan', '3');
    $('#reporteTabla tfoot tr th:first-child').html('Total');
</script>
{% endblock scripts %}